body{
	background: #0f8a9d;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 );
	color:#555;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	line-height:1.6em;
	margin:0;
}

.container{
	color: black;
	width:90%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	color:#fff;
}

.container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}

.container ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.container ul li a{ color: #fff;
	text-decoration: none;

 }

#showcase{
	background-image:url('../images/person-on-a-bridge-near-a-lake-747964.jpg');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:30px;
	line-height: 1.6em;
	padding-top:110px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:20px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
    font-size:16px;
	text-align: center;
	padding:10px;
	margin-top:30px;
}

#main h1{
	color:black;
}

#main p{
	background: #333;
	color:#fff;
	font-size:18px;
	text-align: justify;
	padding:10px;
	margin-top:30px;
}

.change-content{
   
   font-family: 'Kaushan Script', cursive;
  }

  main{
   color:white;
   display: flex;
   justify-content: center; align-items: center;
  }

  .change-content:after{
   content: '';
   animation: changetext 10s infinite linear ;
   font-size: 4rem;
  }

  @keyframes changetext{
    0% { content:"HTML developer"; }
    20% { content:"CSS developer"; }
    40% { content:"Web developer"; }
    60% { content: "designer"; }
    80% { content: "front end developer"; }
    100% { content: "full stack developer"; }
  }

